body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
h1 {
  text-align: center;
  color: #881337;
  font-size: 2.5rem;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 35%;
  height: 50%;
  grid-auto-rows: minmax(80px, auto);
  margin-left: 450px;
  border: 20px solid #881337;
  border-radius: 8px;
}
.white {
  background-color: #fff1f2;
  padding: 20px;
}
.brown {
  background-color: #9f1239;
  padding: 20px;
}
